#wrapper{
	width: 500px;
	margin: 0 auto;
	border: 1px solid #000;
	margin-top: 10px;
	padding: 0px;
	border-bottom: false;
}

h1{
	width: 500px;
	margin: 0 auto;
}

#addForm{
	border-bottom: 1px solid #000;
	padding: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0px;
}

#addForm button{
	float: right;
	margin: 0px;
	display: none;
}

#addForm input{
	border: none;
	width: 100%;
	font-size: 2em;
	outline: none;
}

#list{
	padding: 0px;
	list-style: none;
	margin: 0px;
}

#list li{
	border-bottom: 1px solid #000;
}

.task{
	font-size: 2em;
	min-height: 34px;
	padding: 8px;
	position: relative;
}

.task .checkbox{
	float: left;
	width: 40px;

	text-align: center;
	vertical-align: middle;
	-moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;

  color: #ccc;
  cursor: pointer;
}

.task .name{
	width: 402px;
	margin-top: -2px;
	margin-left: 40px;
}

.task .remove{
	position: absolute;
	top: 8px;
	right: 0px;
	width: 40px;
	cursor: pointer;
	text-align: center;
}

#list li input{
	width: 484px;
	margin: 0px;
	padding: 8px;
	font-size: 2em;
	border: none;
	outline: 0px;
	height: 34px;
}

#list li:hover{
	background: #eee;
}

.task .nameDone{
	text-decoration: line-through;
}

.task .checkboxDone{
	color: green;
}

.taskDirty{
	background: red;
}