---
layout: default
title: Documentation
js: [
	//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js,
	/libs/jquery-ui-1.9.2.custom.min.js,
	/libs/jquery.tocify.js-1.1.0/jquery.tocify.min.js,
	/libs/google-code-prettify/prettify.js,
	/js/documentation.js
]
css: [
	/libs/jquery.tocify.js-1.1.0/jquery.tocify.css,
	/libs/google-code-prettify/prettify.bootstrap.css,
	/css/style.css,
]
---

<a href="https://github.com/you"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div class="container-fluid">
	<div class="row-fluid">
		<div id="sidebar" class="span3">
			<h1><a href="#">KnockoutApp</a></h1>
			<div id="toc"></div>
		</div>
			<div id="content" class="span9 pull-right">
				<section id="introduction">
					{% include introduction.html %}
				</section>

				<section id="model">
					{% include documentation/model/index.html %}
					{% include documentation/model/extend.html %}
					{% include documentation/model/constructor-initialize.html %}
					{% include documentation/model/idAttribute.html %}
					{% include documentation/model/id.html %}
					{% include documentation/model/attributes.html %}
					{% include documentation/model/defaultAttributes.html %}
					{% include documentation/model/collection.html %}
					{% include documentation/model/sync.html %}
					{% include documentation/model/url.html %}
					{% include documentation/model/name.html %}
					{% include documentation/model/isNew.html %}
					{% include documentation/model/fetch.html %}
					{% include documentation/model/save.html %}
					{% include documentation/model/destroy.html %}
					{% include documentation/model/toJSON.html %}
				</section>

				<section id="collection">
					{% include documentation/collection/index.html %}
					{% include documentation/collection/extend.html %}
					{% include documentation/collection/constructor-initialize.html %}
					{% include documentation/collection/model.html %}
					{% include documentation/collection/models.html %}
					{% include documentation/collection/sync.html %}
					{% include documentation/collection/url.html %}
					{% include documentation/collection/fetch.html %}
					{% include documentation/collection/add.html %}
					{% include documentation/collection/remove.html %}
					{% include documentation/collection/find.html %}
					{% include documentation/collection/where.html %}
					{% include documentation/collection/toJSON.html %}
				</section>

				<section id="sync">
					{% include documentation/sync.html %}
				</section>

				<section id="utils">
					{% include documentation/utils/index.html %}
					{% include documentation/utils/unwrapValue.html %}
					{% include documentation/utils/extendObjKnockout.html %}
					{% include documentation/utils/cloneObjKnockout.html %}
					{% include documentation/utils/extendClass.html %}
					{% include documentation/utils/isObservableArray.html %}
				</section>
			</div>
		</div>
	</div>
