<h1 class="page-header">Download <small>v0.2.4</small></h1>

<a class="btn btn-large btn-primary" href="https://raw.github.com/paglias/KnockoutApp/0.2.4/build/knockout.app.min.js">Production</a>
<b>4.8kb (1.9kb gzipped) minified</b> <br/><br/>

<a class="btn btn-large" href="https://raw.github.com/paglias/KnockoutApp/0.2.4/build/knockout.app.js">Development</a>
<b>12.8kb with a lot of comments</b> <br/><br/>

The development happens on the <a href="http://github.com/paglias/KnockoutApp">master</a> branch.

Older versions are tagged in git and can be found <a href="https://github.com/paglias/KnockoutApp/tags">here</a>.
