<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %} {{ page.title }} | {% endif %}KnockoutApp</title>

	<link rel="stylesheet" type="text/css" href="/libs/bootstrap-2.2.2/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap-2.2.2/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	{% if page.css %}
		{% for url in page.css %}
			<link rel="stylesheet" type="text/css" href="{{ url }}" />
		{% endfor %}
	{% endif %}

	{% if page.js %}
		{% for url in page.js %}
			<script src="{{ url }}" type="text/javascript"></script>
		{% endfor %}
	{% endif %}
</head>

<body>
	{{ content }}
</body>
</html>